@import "tailwindcss";

:root {
  --primary: #1a0017;
  --secondary: #eeb357;
  --darkBlue: #001639;
  --text: #fcfafc;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-darkBlue: var(--darkBlue);
  --color-text: var(--text);
  --font-main: var(--font-rakkas);
  --animate-right-to-left: move-right-to-left 0.5s ease-in-out infinite
    alternate;
  --animate-left-to-right: move-left-to-right 0.5s ease-in-out infinite
    alternate;

  @keyframes move-right-to-left {
    0% {
      transform: translateX(1.5%);
    }
    100% {
      transform: translateX(-1.5%);
    }
  }

  @keyframes move-left-to-right {
    0% {
      transform: translateX(-1.5%);
    }
    100% {
      transform: translateX(1.5%);
    }
  }
}

body {
  background: var(--primary);
  color: var(--text);
  font-family: "Rakkas", serif;
}

.clip-curve {
  clip-path: polygon(0 0, 100% 0, 100% 65%, 50% 100%, 0 65%);
}
